/* pendiente-> reto de DATA: hacer que cuando hago un hover 
en la imagen aparezca la imagen del pokemon de espaldas (data.sprites.back_default) */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #f37021;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
}

.poke-logo {
  width: 200px;

}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error-message {
  color: #d32f2f;
  font-weight: bold;
}

#searchInput {

  padding: 8px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#searchBtn, #prevBtn, #nextBtn, #resetBtn, a, #resetFavoritesBtn, #home {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchBtn {
  background-color: #4caf50;
  color: white;
}


#prevBtn, #nextBtn, #resetBtn, #resetFavoritesBtn {
  background-color: #2196F3;
  color: white;
}

#resetFavoritesBtn{
  margin-left: 10px;
}

#searchBtn:hover, #prevBtn:hover, #nextBtn:hover, #resetBtn:hover, a:hover, #resetFavoritesBtn:hover, #home:hover {
  opacity: 0.8;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 2px;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

.card img {
  width: 150px;
}

span {
  font-size: 40px; 
  cursor: pointer;
  color: gold;
   
}

a, #home {
  text-decoration: none;
  background-color: orange;
  color: white;
  font-size: 14px;
}